/* Hides everything pushed outside of it */
.site-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/* Adds a transition and the resting translate state */
.push-wrap {
    transition: all 300ms ease;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);

    .show-nav & {
        transform: translate(20%, 0);
        transform: translate3d(20%, 0, 0);
    }
}
/* Will animate the content to the right 275px revealing the hidden nav */

/* Positions the nav fixed below the push wrapper */
.main-navigation {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    padding-top: $header-height;
    top: 0;
    left: -100vw;
    background: $body-font-color;
    transition: all 300ms ease;
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    .main-menu {
        display: flex;
        flex-flow: row wrap;
        
        > li {
            flex-basis: 100%;
            @include breakpoint(medium) {
                flex-basis: 50%;
            }
            @include breakpoint(large) {
                flex-basis: 25%;
            }
        }

    } 
    
    .show-nav & {
        left: 0;
    }

    a {
        color: $body-background;

        &:hover, &:focus {
            color: map-get($foundation-palette, primary);
        }
    }
}

.is-drilldown-submenu {
    background: $body-font-color;
}