/* Hides everything pushed outside of it */
.site-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/* Adds a transition and the resting translate state */
.push-wrap {
    transition: all 300ms ease;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);

    .show-nav & {
        transform: translate(10%, 0);
        transform: translate3d(10%, 0, 0);
    }
}
/* Will animate the content to the right 275px revealing the hidden nav */

/* Positions the nav fixed below the push wrapper */
.main-navigation {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    padding-top: $header-height;
    top: 0;
    left: -100vw;
    background: $body-color;
    transition: all 300ms ease;
    opacity: 1;
    //z-index: 10;
    overflow: hidden;

    .show-nav & {
        left: 0;
    }

    * {
        color: $body-bg;
    }
}