/* Hides everything pushed outside of it */
.site-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/* Adds a transition and the resting translate state */
.push-wrap {
    transition: all 300ms ease;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);

    .show-nav & {
        transform: translate(25%, 0);
        transform: translate3d(25%, 0, 0);
    }
}
/* Will animate the content to the right 275px revealing the hidden nav */

/* Positions the nav fixed below the push wrapper */
.main-navigation {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: -100vw;
    background: $brand-primary;
    transition: all 300ms ease;
    opacity: 1;
    z-index: 10;
    overflow: hidden;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .show-nav & {
        left: 0;
    }

    * {
        color: $body-bg;
    }

    .menu-wrap {
       display: flex;
       flex-flow: row wrap;
       max-width:800px;

       .menu-col {
            flex: 1;
            flex-basis: 50%;
            padding: 1em;

            &.full {
                flex-basis: 100%;
            }

            .menu-title {
                //text-transform: uppercase;
                padding-bottom: 0.5rem;
                margin-bottom: 1rem;
                //border-bottom: 1px solid $body-bg;
            }
       }
    }
}

.nav-menu {
    .nav-link {
        padding: 0.2rem 0;
    }
}

.toggle-nav {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 20;
}