.section {
	padding: 2rem 0;
}

.cedreo-title {
	//margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;

	.logiciels & {
		text-align: left;
	}


	&:after {
		content: '';
		display: block;
		width: 200px;
		margin: 0.5em auto;
		height: 1px;
		background: $body-font-color;

		.logiciels & {
			margin-left: 0;
		}
	}

}

.breadcrumbs {

	ul {
		@include breadcrumbs-container;
		margin-bottom: 0;

		a {
			color: $white;

		}

		.current {
			color: map-get($foundation-palette, primary);
		}
	}
}

h1, h2, .h1, .h2, blockquote, .lead {
	span {
		color: map-get($foundation-palette, primary);
		font-weight: 700;
	}
}

blockquote {
	font-size: 1.6em;
}

.lead {
	font-family: $header-font-family;
}