.section {
	padding: 2rem 0;
	.row {
		position: relative;
	}
}

.cedreo-title {
	//margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;

	.logiciels &, .contenu & {
		text-align: left;
	}


	&:after {
		content: '';
		display: block;
		width: 200px;
		margin: 0.5em auto;
		height: 1px;
		background: $body-font-color;

		.logiciels &, .contenu & {
			margin-left: 0;
		}

		.arguments & {
			background: $body-background;
		}
	}

}

.breadcrumbs {

	ul {
		@include breadcrumbs-container;
		margin-bottom: 0;

		a {
			color: $white;

		}

		.current {
			color: map-get($foundation-palette, primary);
		}
	}
}

h1, h2, .h1, .h2, blockquote, .lead {
	span {
		color: map-get($foundation-palette, primary);
		font-weight: 700;
	}
}

blockquote {
	border: none;


	.contenu & {
		
		position: relative;
		background: rgba(0,0,0,0.4);

		margin: map-get($grid-column-gutter, small);
		padding: map-get($grid-column-gutter, small);

		@include breakpoint(medium) {
			margin: map-get($grid-column-gutter, medium);
			padding: map-get($grid-column-gutter, medium);
		}

		cite {
			color: map-get($foundation-palette, primary);
		}

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			width: 32px;
			height: 28px;
			top: -12px;
			left: -20px;
			background: url(../images/quote.png) center no-repeat;
		}

	}
}

.lead {
	font-family: $header-font-family;
}

.page-header {
	min-height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: $dark-gray;
	background-image: url(../images/banners/cedreo.jpg);


	.page-template-page-secteur & {
		background-image: url(../images/banners/secteurs.jpg);
	}

	.single-logiciel & {
		background-image: url(../images/banners/logiciels.jpg);
	}

	.sidebar-primary & {
		background-image: url(../images/banners/blog.jpg);
	}

	.page-title {
		text-align: center;
		color: $white;
		text-transform: uppercase;
		letter-spacing: 0.05em;

		&:after {
			background-color: $white;
		}
	}
}

.banshadow {
	@include breakpoint(large) {

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 25px;
			background: url(../images/shadow-carousel.png) top center no-repeat;
			background-size: 70%;
		}

	}
}

.stories {
	.item {
		text-transform: uppercase;
	}
}