.section {
	padding: 2rem 0;
}

.section-title {
	font-size: 2.3em;
	margin-bottom: 0.8em;
	text-align: center;
	color: map-get($foundation-palette, secondary);
}

.breadcrumbs {
	margin: 1rem 0;

	ul {
		@include breadcrumbs-container;
	}
}

.zoom {
	padding: 1em;
	border: dotted 2px map-get($foundation-palette, primary);
	font-size: 1.6em;

	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}

	
}