
// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #00afa7;
$body-color: #212121;
$body-bg: #fff;


// Fonts
$font-family-sans-serif:     Verdana, sans-serif;
$headings-font-family: 'Raleway', sans-serif;
$headings-font-weight: 700;

// header

$navbar-height : 50px;

// menu btn

$hamburger-padding-x                       : 0.2rem;
$hamburger-padding-y                       : 0;
$hamburger-layer-width                     : 1.5rem;
$hamburger-layer-height                    : 2px;
$hamburger-layer-spacing                   : 4px;
$hamburger-layer-color                     : #fff;
$hamburger-layer-border-radius             : 2px;
$hamburger-hover-opacity                   : 0.7;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: ease;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false;
$hamburger-hover-filter    : opacity(50%);