.banner {
	padding: 1rem 0;
	background: $body-color;
	text-align: right;
	position: relative;
	z-index: 50;
	.brand {
		@extend .pull-left;
	}

	a.nav-link, .txt {
		line-height: $navbar-height;
		color: $body-bg;
	}

	.is-active {
        //position: fixed;
    }
}