.banner {
	background: $body-color;
	//text-align: right;
	position: relative;
	z-index: 50;

	.row {
		height: $header-height;
	}

	a.nav-link, .txt {
		color: $body-bg;
	}

	.columns + .columns {
		text-align: right;
	}

}