.home {
	.carousel {
		background: $light-gray;
		.item {
			position: relative;
			height: 100vh - ($header-height * 4);
			z-index: 0;

			.item-wrap {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 10;
				color: $body-background;
				padding: 2rem;

			}

		}
		
	}
	.cibles {
		.title {
			font-size: 1.2rem;
			min-height: 4rem;
		}

		.besoins {
			> * {
				margin-bottom: 4rem;
			}
		}
	}

	.arguments {
		background: $light-gray;
	}

	.stories {
		//background: $medium-gray;
		.stories-carousel {
			.wrap {
				background: $light-gray;
				text-align: center;
				min-height: 300px;
				padding: 1rem;
			}
		}
	}
}