.home {
	.cibles {
		.title {
			font-size: 1.2rem;
			min-height: 4rem;
		}

		.besoins {
			> * {
				margin-bottom: 4rem;
			}
		}
	}

	.arguments {
		background: $light-gray;
	}

	.stories {
		//background: $medium-gray;
	}
}