.home {
	.carousel {
		background: $body-background;
		.item {
			position: relative;
			height: 100vh - ($header-height * 3);
			z-index: 0;

			.item-wrap {
				height: 100%;
				display: flex;
				align-items: center;
			}

			.item-box {
				max-width: 400px;
				z-index: 10;
				color: $body-background;
				background: rgba(0,0,0,0.6);
				padding: 2rem;
				text-transform: uppercase;
			}

		}
		
	}

	.introduction {
		.section-title {
			text-align: left;
			&:after {
				margin-left: 0;
			}
		}
	}

	.homequote {
		border: none;
		text-align: center;
		text-transform: uppercase;
		min-height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;

		background: url(../images/bgquote.jpg) center no-repeat;
		background-size: 100%;
	}

	.cibles {
		
		background-image: url(../images/bg-cibles.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-color: #f5f5f5;

		.title {
			font-size: 1.2rem;
			min-height: 4rem;
		}

		.besoins {
			> * {
				margin-bottom: 4rem;
			}
		}
	}

	.arguments {
		background-image: url(../images/bg-arguments.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		color: $body-background;

		.section-title {
			&:after {
				background: $body-background;
			}
		}

		.argument-title {
			text-transform: uppercase;
			color: map-get($foundation-palette, primary);

			&:after {
				background: map-get($foundation-palette, primary);
				margin: 1em auto;
			}

			&:before {
				content: '';
				display: inline-block;
				margin-right: 0.5em;
			}

			
		}

		.columns {
			&:nth-child(1) {
				.argument-title {
					&:before { 
						content: '1. ';
					}
				} 
			}
			&:nth-child(2) {
				.argument-title {
					color: map-get($foundation-palette, secondary);
					&:before { 
						content: '2. ';
					}
					&:after {
						background: map-get($foundation-palette, secondary);
					}
				} 
			}
			&:nth-child(3) {
				.argument-title {
					color: map-get($foundation-palette, success);
					&:before { 
						content: '3. ';
					}
					&:after {
						background: map-get($foundation-palette, success);
					}
				} 
			}
		}
	}
}

.logiciels {
	.presentation {
		display: flex;
		> * {
			flex-basis: 50%;
		}
	}

	.page-template-page-secteur & {
		.item {
			&:first-child {
				background-image: url(../images/bg-cibles.jpg);
				background-repeat: no-repeat;
				background-size: cover;
			}
			&:nth-child(2) {
				background-image: url(../images/bg-arguments.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				color: $white;
				.cedreo-title {
					&:after {
						background-color: $white;
					}
				}
			}
			&:nth-child(2n + 1) {
				
				.presentation > div:first-child {
					
					margin-right: map-get($grid-column-gutter, small) / 2;
					padding-right: map-get($grid-column-gutter, small) / 2;

					@include breakpoint(medium) {
						margin-right: map-get($grid-column-gutter, medium) / 2;
						padding-right: map-get($grid-column-gutter, medium) / 2;
					}
				}
			}
			&:nth-child(2n) {
				
				.presentation > div:first-child {
					order: 1;
					
					margin-left: map-get($grid-column-gutter, small);

					@include breakpoint(medium) {
						margin-left: map-get($grid-column-gutter, medium);
					}
				}
			}
		}
	}
}
